.root {
    -fx-font-family: "Arial";
}

.top-bar, .bottom-bar {
    -fx-background-color: #2b2b2b;
    -fx-padding: 5;
}

.player-label {
    -fx-text-fill: white;
    -fx-font-size: 24px;
}

.time-label {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 20px;
}

.chess-board {
    -fx-padding: 10;
    -fx-hgap: 0;
    -fx-vgap: 0;
    -fx-alignment: center;
    -fx-background-color: #2b2b2b;
}

.green-cell {
    -fx-background-color: #769656; /* Green */
    -fx-pref-width: 120px; /* Adjust this based on your grid size */
    -fx-pref-height: 120px; /* Adjust this based on your grid size */
    -fx-alignment: center;
}

.white-cell {
    -fx-background-color: #eeeed2; /* White */
    -fx-pref-width: 120px; /* Adjust this based on your grid size */
    -fx-pref-height: 120px; /* Adjust this based on your grid size */
    -fx-alignment: center;
}

.chess-piece {
    -fx-font-size: 36px;
    -fx-alignment: center;
}

.black-piece {
    -fx-text-fill: black;
}

.white-piece {
    -fx-text-fill: white;
}

.right-panel {
    -fx-padding: 10;
    -fx-background-color: #2b2b2b;
    -fx-spacing: 35;
    -fx-alignment: center;
}

.play-button, .tournament-button {
    -fx-background-color: #4CAF50;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 24px;
    -fx-pref-width: 260px;
    -fx-padding: 10 20;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-alignment: center;
}

.tournament-box {
    -fx-background-color: #1f1d1c;
    -fx-alignment: center;
}

.tournament-button {
    -fx-background-color: #1f1d1c;
    -fx-text-fill: #dcdbdc;
    -fx-font-size: 24px;
    -fx-padding: 10 20;
}

.right-bottom-stats-numbers, .right-bottom-stats-text {
    -fx-background-color: #2b2b2b;
    -fx-padding: 10;
    -fx-spacing: 10;
    -fx-alignment: center-right;
}

.right-bottom-stats-text {
    -fx-alignment: center-left;
}

.stats-label-text, .stats-label-numbers {
    -fx-text-fill: white;
    -fx-font-size: 14px;
}

.stats-label-numbers {
    -fx-font-weight: bold;
}

.menu-button {
    -fx-background-color: #8BC34A;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 24px;
    -fx-pref-width: 260px;
    -fx-padding: 10 20;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-alignment: center;
}

.menu-button .menu-item {
    -fx-background-color: #446b15;
    -fx-text-fill: #ffffff;
    -fx-padding: 10;
    -fx-font-size: 16px; /* Adjust the font size if needed */
}

.menu-button .menu-item:hover {
    -fx-background-color: #a9ee5d;
}


.red-cell {
    -fx-background-color: red;
}

.yellow-cell {
    -fx-background-color: yellow;
}

.turn-label {
    -fx-font-size: 32px;
    -fx-pref-width: 260px;
    -fx-font-weight: bold;
    -fx-padding: 5px 10px;
    -fx-border-color: #000000;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-alignment: center;
}



.turn-label-white {
    -fx-text-fill: #000000;
    -fx-background-color: #FFFFFF;
}

.turn-label-black {
    -fx-text-fill: #FFFFFF;
    -fx-background-color: #000000;
}



.check-label {
    -fx-font-size: 26px;
    -fx-pref-width: 260px;
    -fx-font-weight: bold;
    -fx-padding: 5px 10px;
    -fx-border-color: #000000;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
    -fx-alignment: center;
}

.check-label-white {
    -fx-text-fill: #000000;
    -fx-background-color: #FFFFFF;
}

.check-label-black {
    -fx-text-fill: #FFFFFF;
    -fx-background-color: #000000;
}
