.root {
    -fx-font-family: "Arial";
}

.top-bar, .bottom-bar {
    -fx-padding: 10;
    -fx-background-color: #2b2b2b;
}

.player-label {
    -fx-text-fill: white;
}

.time-label {
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.chess-board {
    -fx-padding: 10;
    -fx-hgap: 0;
    -fx-vgap: 0;
}

.green-cell {
    -fx-background-color: #769656; /* Green */
    -fx-pref-width: 64px; /* Adjust this based on your grid size */
    -fx-pref-height: 64px; /* Adjust this based on your grid size */
}

.white-cell {
    -fx-background-color: #eeeed2; /* White */
    -fx-pref-width: 64px; /* Adjust this based on your grid size */
    -fx-pref-height: 64px; /* Adjust this based on your grid size */
}

.chess-piece {
    -fx-font-size: 36px;
    -fx-alignment: center;
}

.black-piece {
    -fx-text-fill: black;
}

.white-piece {
    -fx-text-fill: white;
}

.right-panel {
    -fx-padding: 10;
    -fx-background-color: #2b2b2b;
}

.play-button {
    -fx-background-color: #8BC34A;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-padding: 10 20;
}

.tournament-button {
    -fx-background-color: #000000;
    -fx-text-fill: #8BC34A;
    -fx-font-size: 16px;
    -fx-padding: 10 20;
}
