.root {
    -fx-font-family: "Arial";
}

.top-bar, .bottom-bar {
    -fx-padding: 10;
    -fx-background-color: #2b2b2b;
}

.player-label {
    -fx-text-fill: white;
}

.time-label {
    -fx-text-fill: white;
    -fx-font-weight: bold;
}

.chess-board {
    -fx-padding: 10;
    -fx-hgap: 0;
    -fx-vgap: 0;
}

.green-cell {
    -fx-background-color: #769656; /* Green */
    -fx-pref-width: 48px; /* Adjust this based on your grid size */
    -fx-pref-height: 48px; /* Adjust this based on your grid size */
    -fx-alignment: Center;
}

.white-cell {
    -fx-background-color: #eeeed2; /* White */
    -fx-pref-width: 64px; /* Adjust this based on your grid size */
    -fx-pref-height: 64px; /* Adjust this based on your grid size */
    -fx-alignment: Center;
}

.chess-piece {
    -fx-font-size: 36px;
    -fx-alignment: center;
}

.black-piece {
    -fx-text-fill: black;
}

.white-piece {
    -fx-text-fill: white;
}

.right-panel {
    -fx-padding: 10;
    -fx-background-color: #2b2b2b;
    -fx-spacing: 30;
    -fx-alignment: center;
    -fx-pref-height: 800px;
}

.play-button, .tournament-button {
    -fx-background-color: #8BC34A;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 24px;
    -fx-pref-width: 260px;
    -fx-padding: 10 20;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-alignment: center;
}

.tournament-button {
    -fx-background-color: #000000;
    -fx-text-fill: #8BC34A;
    -fx-font-size: 24px;
    -fx-padding: 10 20;
}

.right-bottom-stats-numbers, .right-bottom-stats-text {
    -fx-background-color: #2b2b2b;
    -fx-padding: 10;
    -fx-spacing: 10;
    -fx-alignment: center-right;
}

.right-bottom-stats-text {
    -fx-alignment: center-left;
}

.stats-label-text, .stats-label-numbers {
    -fx-text-fill: white;
    -fx-font-size: 14px;
}

.stats-label-numbers {
    -fx-font-weight: bold;
}

.time-button {
    -fx-background-color: #333333;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 24px;
    -fx-pref-width: 260px;
    -fx-padding: 10 20;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-alignment: center-left;
}

.menu-button-arrow {
    -fx-background-color: transparent;
    -fx-padding: 0;
    -fx-shape: "M 0 0 L 4 4 L 8 0 Z";
    -fx-scale-x: 2;
    -fx-scale-y: 2;
    -fx-translate-y: -2;
}


